
input{
    height: 50px;
    width: 50px;
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
    
}
h1{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border: 2px solid black;
    width: 300px;
    height: 400px;
    background-color: rgb(61, 45, 73);
    font-size: 17px;
    border-radius: 10px;
}
form{
    border: 1px solid black;
    width: 258px;
    background-color: rgb(79, 45, 105);
  
}
 #delete{
    width: 244px;
    padding-left: 10px;
}
body{
    height: 100%;
    background-color: rgb(170, 159, 159);
}


